body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(185, 75%, 39%);
  background-image: url('bg-pattern-top.svg'),
                    url('bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: -50% 50%,
                        140% -40%;
}

ol {
  list-style-type: none;
  color: hsl(227, 10%, 46%);
  margin: 0;
  padding: 25px 0;
  text-align: center;
}

li {
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}

h3 {
  color: hsl(229, 23%, 23%);
  margin: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}

p {
  margin-top: 10px;
  color: hsl(227, 10%, 46%);
  font-weight: 500;
}

hr {
  margin: 0;
  border-bottom: none;
}

.age {
  display: inline-block;
  margin-bottom: 0;
}

.boss-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  position: relative;
}

.bottom-container {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
}

.a {
  height: 140px;
}

.b {
  background-color: #ffffff;
  text-align: center;
  padding: 80px 0 10px;
}

.top-image {
  border-radius: 10px 10px 0 0;
}

.profile-pic {
  width: 30%;
  border: solid 6px;
  border-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.value {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  letter-spacing: normal;
}

.div1 {
  display: inline-block;
}

.div2 {
  display: inline-block;
  margin: 0 40px;
}

.div3 {
  display: inline-block;
}
